*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

dialog {
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
    margin-left: 20px;
}

#library {
    margin-top: 20px;
}

.book {
    background: white;
    border: 1px solid #000000;
    padding: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    align-items: center;
}